<%- include ("./partials/header.ejs") %>
<h1 class="text-center">This is a webpage for Reading Lover</h1>
<p class="text-center">This web app is established by EJS and Bootstrap in frontend, Express.js with node.js in backend. Utilized PostgreSQL as database.</p>
<p class="text-center">Contact Me at howardwang0315@gmail.com</p>
<%- include ("./partials/footer.ejs") %>